body{
  background-image: url("images.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
aside{
  margin-top: 2%;
}

.form{
  background-color:  rgb(54, 45, 45);
  opacity: 0.8;
  background-size: 100% 100%;
  width: fit-content;
  border: 10px solid transparent;
  border-radius: 30px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10PX;
  position: absolute;
bottom: 2%;
  left: 5%;
@MEDIA (MIN-WIDTH: 400PX ) AND (MAX-WIDTH: 766PX){
  .form{
    top: 5%;
    left: 2PX;
    right: 20PX;
    margin-right: 20PX !important;
    margin-left: 10PX;
  }
}
.input{
  background-color:  white;
  width: 250px; height: 30px;
  text-align: center;
  outline: none;
  border: 7px solid transparent;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.submit{
  background-color: blue;
  color: white;
  border: 8px solid transparent;
  width: 230px;
  border-radius: 20PX;
  margin-bottom: 10PX;
}
h3,
p{
  color: white;
}
h2{
  color: white;
}
.gebder{
  margin-bottom: 10px;
  color: white;
}