body{
  background-image: url("images.jpeg");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  direction: rtl;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.aside{
  background-color: #eee;
  width: 300px; height: fit-content;
  border-radius: 6px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  margin-top: 10%;
  margin-right: 10px;
}
@media (MIN-WIdth: 1025px){
  .aside,
  .info{
    width: 350px;
   margin-top: 10px;
    margin-left: 10px;
    margin-right: 5%;

  }
 .info{
    margin-top: 10px !important;
  }
  p{
    font-size: 20px;
    font-weight: bold;
  }
  span{
    font-size: 20px;
    font-weight: bold;
  }
  .imgmy{
    width: 150px !important;
    height: 100px !important;
  }
  
}
@media (min-width: 768px ) and (max-width: 1024px){
  .aside,
  .info{
    width: 300px;
    margin-left: 25PX;
    margin-right: 20%;
   
  }
 .info{
    margin-top: 10px !important;
  }
  .user-img{
    width: 150px !important;
    height: max-content !important;
  }
}

@media (min-width: 681px) and (max-width: 767px){
  .aside,
  .info{
    width: 300px;
    margin-right: 15%;
    
   
  }
  .info{
    margin-top: 10px !important;
  }
}

@media (min-width: 481px) and (max-width: 680px){
  .aside{
    width: 300px;
  margin-right: 25%;
    
   
  }
  .info{
    margin-top: 10px !important;
  }
}
@media (min-width: 320px) and (max-width: 480px){
  .aside,
  .info{
    width: 320px !important;
    
    margin-left: 37px;
    margin-right: 20px;
    margin-top: 20%;
   
  }

  .info{
    margin-top: 10px !important;
  }
  p{
    font-size: 17px;
    font-weight: bold;
  }
  span{
    font-size: 18px;
  }
  .imgmy{
    width: 150px !important;
    height: 100px !important;
  }
}
ul{
  padding: 20px;
  list-style: none;
}
.link{
  color: #4D56C0;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 7px;
}
.link:hover{
  background-color: #8A0C0C;
  border: 6px solid #8A0C0C;
  color: white;
}
li{
  margin-bottom: 10px;
}
h3{
  color: steelblue;
  text-align: center;
}
p{
  padding: 3px;
  margin: 5px;
  color: red;
  opacity: 0.5;
  margin-top: 2px;
  margin-bottom: 3px;
}
p:hover{
  opacity: 0.8;
}
.info{
  background-color: white;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}
.imgmy{
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}
.loge-avter{
  padding: 5px;
  margin: 5px;
}